*.pyc
*.pyo
*.mo
*.db
*.css.map
*.egg-info
*.sql.gz
__pycache__
.env*
.vscode
.pytest_cache
.cache
.project
.idea
.pydevproject
.idea/workspace.xml
.DS_Store
*.icloud
.git
.sass-cache
.vagrant
Dockerfile
Jenkinsfile
env
venv
.venv
static
